.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
}
.title-row {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}